@model EmurbEstoque.Models.Fornecedor
@{ 
    ViewData["Title"] = "Detalhes do Fornecedor"; 
    Layout = "~/Views/_Layout.cshtml"; 
}

<h1>Detalhes do Fornecedor</h1>

<table class="table table-bordered table-striped" style="max-width: 600px;">
    <tr>
        <th>@Html.DisplayNameFor(m => m.Id)</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(m => m.Nome)</th>
        <td>@Model.Nome</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(m => m.CpfCnpj)</th>
        <td>@Model.CpfCnpj</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(m => m.Email)</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(m => m.Telefone)</th>
        <td>@Model.Telefone</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(m => m.InscricaoEstadual)</th>
        <td>@Model.InscricaoEstadual</td>
    </tr>
</table>

<a class="btn btn-secondary" href="@Url.Action("Index","Fornecedor")">Voltar</a>